@model IEnumerable<Economizar.Models.Compra>

@{
    /**/

    ViewBag.Title = "Compras";
}

<h2>Minhas Compras</h2>
<div class="table col-xs-4 col-sm-4 col-md-12 col-lg-12" >
    <table class="table table-hover">
        <tr class="bg-success">
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CompraId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CompraId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Voltar", "Index", "Item", "Item", new { @class = "btn btn-primary" })
</div>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
